{% extends 'base.html'%}

{% block head %}
<title>Escape the Dark</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/credits.css') }}">
{% endblock %}

{% block content %}
<h1>Icons</h1>
<ul>
    <li>
        <a href="https://www.flaticon.com/free-icons/arrow-key" title="arrow key icons">Arrow key icons created by
            Freepik -
            Flaticon</a>
    </li>
    <li>
        <a href="https://www.flaticon.com/free-icons/wasd" title="wasd icons">Wasd icons created by Freepik -
            Flaticon</a>
    </li>
    <li><a href="https://www.flaticon.com/free-icons/shift" title="shift icons">Shift icons created by Freepik -
            Flaticon</a></li>
</ul>


<h1>Music</h1>
<ul>
    <li><a
            href="https:
        //pixabay.com/users/uniquecreativeaudio-7672706/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=168968">
            P
            Richmond</a> from <a
            href="https://pixabay.com/music//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=168968">Pixabay</a>
    </li>
</ul>

<h1>CSS</h1>
<ul>
    <li></li> <a href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_rangeslider_pic"
        title="shift icons">
        thumbSlider</a>
    </li>
</ul>
<h1>Code</h1>
<ul>
    <li><a href="https://www.youtube.com/watch?v=HmxNrlPx8iY&t=3418s">Camera MOvement 1:50:00</a></li>
</ul>

<button onclick="window.location.href='https://cs1.ucc.ie/~tjs2/cgi-bin/ca2/run.py/homepage' " class="menuBtn"
    id="backBtn">Back</button>

{% endblock %}